@media (min-width: 320px) and (max-width: 374px) {
  div {
    pointer-events: none;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ._app-store-btn-features > img {
    pointer-events: all;
  }

  .header__app-store-download_width {
    pointer-events: all;
  }
  .testimonials__slider {
    pointer-events: all;
  }

  .footer__app-store-download_width {
    pointer-events: all;
  }

  .slick-list {
    pointer-events: all;
  }

  .how-work {
    display: none;
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .features__action-item-mobile {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .scan-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .border-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .sign-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .turn-text-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .color-perspect-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .share-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .slick-dots {
    max-width: 320px;
  }
  ._features-common-button-face {
    margin-left: auto;
    margin-right: auto;
    width: 70px;
    height: 70px;
  }

  .scan-button {
    -webkit-background-size: 34px 34px !important;
    -moz-background-size: 34px !important;
    -o-background-size: 34px !important;
    background-size: 34px !important;
  }

  .border-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .sign-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .turn-text-button {
    -webkit-background-size: 36px 36px;
    -moz-background-size: 36px;
    -o-background-size: 36px;
    background-size: 36px;
  }

  .color-perspect-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .share-button {
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px;
    -o-background-size: 32px;
    background-size: 32px;
  }

  .logo__mobile {
    content: url(/img/logo_mobile.png);
    width: 58px;
  }

  ._mobile-img-width {
    width: 47px;
  }

  ._hide-on-desktop-mobile {
    display: none;
  }

  ._hide-on-mobile {
    display: none;
  }

  ._paragraph-main-font-mobile {
    font-family: "SF UI Display";
    font-size: 16px;
    line-height: 26px;
    width: 188px;
  }

  ._paragraph-main-font {
    font-size: 16px;
  }

  ._block-main-heading-style {
    font-size: 30px;
    line-height: 4px;
  }

  ._header-footer-heading {
    font-weight: 800;
    font-size: 29px;
    line-height: 46px;
  }

  .header {
    text-align: center;
  }

  .header__app-store-download_width {
    max-width: 170px;
  }

  .header_background-color-patterns {
    background: url("/img/down-wave-pattern-mobile.png") no-repeat -18% top,
      url("/img/up-wave-pattern-mobile.png") no-repeat left 352%, #09090b;
  }

  .header_padding {
    padding-bottom: 44px;
    padding-top: 44px;
  }

  .header__app-slogan_font {
    font-family: "SF UI Display";
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #ffffff;
    margin-left: 0;
    display: block;
    margin-top: 15px;
  }

  .header__slogan-wrapper {
    margin-bottom: 37px;
  }

  .header__heading {
    margin-bottom: 20px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__paragraph {
    width: 300px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__banner-img_position {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 273px !important;
    margin-top: 39px;
  }

  .header__scroll-down {
    display: none;
  }

  .top-menu {
    display: none !important;
  }

  .how-work_padding {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  .how-work__paragraph {
    display: none;
  }

  .how-work__item-scan {
    background-position: 13% 27%;
    height: auto;
    margin-bottom: 60px;
    -webkit-background-size: 105px 105px;
    -moz-background-size: 105px;
    -o-background-size: 105px;
    background-size: 105px;
  }

  .how-work__item-save {
    background-position: 13% 20%;
    height: auto;
    margin-bottom: 60px;
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px;
    -o-background-size: 100px;
    background-size: 100px;
  }

  .how-work__item-upload {
    background-image: url(/img/three-bg.png);
    background-position: 12% 20%;
    height: auto;
    -webkit-background-size: 95px 95px;
    -moz-background-size: 95px;
    -o-background-size: 95px;
    background-size: 95px;
  }

  .how-work__heading {
    margin-bottom: 65px;
  }

  .how-work__item-save > img {
    width: 70px !important;
    height: 70px !important;
  }

  .how-work__item-scan > img {
    width: 70px !important;
    height: 70px !important;
  }

  .how-work__item-upload > img {
    width: 70px !important;
    height: 70px !important;
  }

  .features_padding {
    padding-top: 79px;
    padding-bottom: 79px;
  }

  .features__heading {
    margin-bottom: 40px;
  }

  .features__iphone-video-wrapper {
    display: none !important;
  }

  .features__action-item-paragraph {
    font-size: 14px;
    line-height: 26px;
    max-width: 294px !important;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
  }

  .features__action-item-paragraph-first {
    max-width: 222px !important;
  }

  .features__action-item-first_height-margin {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 13%;
  }

  .features__action-item-mobile {
    max-width: 375px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }

  .features__action-item-mobile > img {
    margin-left: auto;
    margin-right: auto;
    width: 80px !important;
    height: 80px !important;
  }
  .features__action-item-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
  }

  .features__action-item-second_margin {
    margin-bottom: 35px;
    margin-top: 144px;
  }

  .features__action-item-heading {
    margin-top: 30px;
    font-size: 17px;
    font-weight: 800;
  }

  .features__action-item-heading-turn-txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 182px;
  }

  .features__action-item-heading-color {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 183px;
  }

  .features__action-item-first_minus-margin {
    margin-top: -62px !important;
  }

  .features__action-item-second_margin-plus {
    margin-top: 186px !important;
  }

  ._app-store-btn-features {
    margin-top: -79px !important;
  }

  .testimonials_padding {
    padding-top: 80px;
    padding-bottom: 68px;
  }

  .testimonials__slider-item {
    width: 284px !important;
    margin-left: 18px !important;
    margin-right: 15px !important;
  }
  .testimonials__slider {
    width: 375px;
  }

  .testimonials__slider-item-comment {
    width: 240px;
  }

  .footer__heading {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ._app-store-btn-footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 234px;
    display: block;
    /* margin-bottom: 45px; */
  }

  .footer__heading {
    margin-bottom: 40px;
  }

  .footer__iphones-img {
    position: static;
    max-width: 290px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .footer_padding {
    padding-top: 70px;
  }

  .footer__terms {
    text-align: center !important;
  }

  .footer_background {
    background: url("/img/footer-up-wave-pattern-mobile.png") no-repeat -18% 70%,
      url("/img/footer-down-wave-pattern-mobile.png") no-repeat 108% top,
      #09090b;
  }

  .footer__copyright {
    color: #ffffff;
    margin-bottom: 12px;
    text-align: center !important;
    font-size: 13px;
    margin-top: 1px;
    font-weight: 400;
  }

  .terms-footer__terms,
  .terms-footer__terms > a {
    font-size: 15px;
    line-height: 28px;
    margin-bottom: 7px;
    margin-top: 77px;
    text-align: center !important;
    font-weight: 400;
    pointer-events: all;
  }

  .terms-of-use_heading {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .term-of-use__paragraph {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .terms-of-use_like-second-heading {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .top-menu__menu-body {
    height: 67px;
  }

  .top-menu__app-slogan_font {
    font-size: 17px;
  }
  ._margin-right-tablet-mobile-10 {
    margin-right: 12px !important;
  }

  ._margin-left-tablet-mobile-10 {
    margin-left: 10px !important;
  }

  .terms__list {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
  }

  .terms-page__footer_margin-mobile {
    margin-top: 0 !important;
    margin-bottom: 26px;
  }

  .terms-page-top-menu__menu-body {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .top-menu__logo-wrapper {
    margin-right: auto;
    margin-left: 10px;
  }

  .top-menu__apple-store-wrapper {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: auto;
  }
  .scan-button:hover {
    background: url(/img/scan.png), #ffffff;
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .border-button:hover {
    background: url(/img/border.png), #ffffff;
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .sign-button:hover {
    background: url(/img/sign.png), #ffffff;
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .turn-text-button:hover {
    background: url(/img/ocr.png), #ffffff;
    -webkit-background-size: 36px 36px;
    -moz-background-size: 36px;
    -o-background-size: 36px;
    background-size: 36px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .color-perspect-button:hover {
    background: url(/img/folder.png), #ffffff;
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
    background-repeat: no-repeat;
    background-position: center;
  }

  .share-button:hover {
    background: url(/img/save.png), #ffffff;
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px;
    -o-background-size: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media (min-width: 375px) and (max-width: 767px) {

  .header__install-btn {
    border: 1px solid #FED32C;
    box-sizing: border-box;
    border-radius: 12px;
    width: 112px;
    height: 42px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 38px;
    margin-right: 16px;
  }

  .header__install-btn > p {
    color: #FED32C;
  }

  .header__users-count {
    margin-left: auto;
    margin-right: auto;
  }

  ._try-for-free-btn {
    width: 335px;
    height: 58px;
    font-weight: 600;
    font-size: 20px;
    line-height: 48px;
    margin-top: 32px;
  }

  ._features-common-button-face {
    margin-right: 10px;
    width: 70px;
    height: 70px;
    display: inline-table;
    align-self: flex-end;
  }

  .logo__mobile {
    content: url(/img/logo_mobile.png);
    width: 58px;
    margin-right: 12px;
  }

  ._mobile-img-width {
    width: 47px;
  }

  ._hide-on-desktop-mobile {
    display: none;
  }

  ._hide-on-mobile {
    display: none;
  }

  ._paragraph-main-font-mobile {
    font-family: "SF UI Display";
    font-size: 16px;
    line-height: 26px;
    width: 188px;
  }

  ._block-main-heading-style {
    font-size: 30px;
    line-height: 4px;
  }

  ._header-footer-heading {
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
  }

  .header {
    text-align: center;
  }

  .header__app-store-download_width {
    max-width: 170px;
  }

  .header_background-color-patterns {
    background: url("/img/down-wave-pattern-mobile.png") no-repeat,
      url("/img/up-wave-pattern-mobile.png") no-repeat left 320%, #09090b;
  }

  .header_padding {
    padding-bottom: 63px;
    padding-top: 26px;
  }

  .header__app-slogan_font {
    font-family: "SF UI Display";
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ffffff;
    margin-left: 0;
    display: block;
    margin-top: 19px;
  }

  .header__slogan-wrapper {
    margin-bottom: 37px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
            height: 46px;
  }

  .header__slogan-wrapper > div {
    display: flex;
    margin-left: 16px;
  }

  .header__heading {
    margin-bottom: 20px;
    width: 335px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__paragraph {
    width: 335px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .header__banner-img_position {
    position: relative;
    top: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 273px !important;
    margin-top: 39px;
  }

  .header__scroll-down {
    display: none;
  }

  .top-menu {
    display: none !important;
  }

  .how-work {
    display: none;
  }

  .how-work_padding {
    padding-top: 80px;
    padding-bottom: 75px;
  }

  .how-work__paragraph {
    display: none;
  }

  .how-work__item-scan {
    background-position: 20% 27%;
    height: auto;
    margin-bottom: 60px;
    -webkit-background-size: 105px 105px;
    -moz-background-size: 105px;
    -o-background-size: 105px;
    background-size: 105px;
  }

  .how-work__item-save {
    background-position: 20% 20%;
    height: auto;
    margin-bottom: 60px;
    -webkit-background-size: 100px 100px;
    -moz-background-size: 100px;
    -o-background-size: 100px;
    background-size: 100px;
  }

  .how-work__item-upload {
    background-image: url(/img/three-bg.png);
    background-position: 20% 20%;
    height: auto;
    -webkit-background-size: 95px 95px;
    -moz-background-size: 95px;
    -o-background-size: 95px;
    background-size: 95px;
  }

  .how-work__heading {
    margin-bottom: 65px;
  }

  .how-work__item-save > img {
    width: 70px !important;
    height: 70px !important;
  }

  .how-work__item-scan > img {
    width: 70px !important;
    height: 70px !important;
  }

  .how-work__item-upload > img {
    width: 70px !important;
    height: 70px !important;
  }

  .features_padding {
    padding-top: 79px;
    padding-bottom: 65px;
  }

  .features__heading {
    margin-bottom: 15px;
  }

  .features__iphone-video-wrapper {
    display: none !important;
  }

  .features__action-item-paragraph {
    font-size: 16px;
    line-height: 26px;
    max-width: 245px !important;
    width: 100%;
    margin-left: 0;
  }

  .features__action-item-paragraph-first {
    max-width: 295px !important;
  }

  .features__action-item-first_height-margin {
    margin-top: 20px;
    margin-bottom: 40px;
    height: 13%;
  }

  .features__action-item-mobile {
    max-width: 335px;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }

  .features__action-item-mobile > img {
    margin-left: auto;
    margin-right: auto;
    width: 80px !important;
    height: 80px !important;
  }
  .features__action-item-info {
    margin-right: auto;
    margin-left: auto;
    text-align: center !important;
  }

  .features__action-item-second_margin {
    margin-bottom: 35px;
    margin-top: 144px;
  }

  .features__action-item-heading {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 16px;
    line-height: 30px;
  }

  .features__action-item-heading-turn-txt {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
  }

  .features__action-item-heading-color {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 183px;
  }

  .features__action-item-first_minus-margin {
    margin-top: -62px !important;
  }

  .features__action-item-second_margin-plus {
    margin-top: 186px !important;
  }

  ._app-store-btn-features {
    margin-top: 61px !important;
    margin-left: auto;
    margin-right: auto;
  }

  .testimonials_padding {
    padding-top: 70px;
    padding-bottom: 50px;
  }

  .testimonials__slider-item {
    width: 335px !important;
    margin-left: 18px !important;
    margin-right: 15px !important;
  }
  .testimonials__slider {
    width: 375px;
  }

  .testimonials__slider-item-comment {
    width: 264px;
  }

  .footer__heading {
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  ._app-store-btn-footer {
    margin-left: auto;
    margin-right: auto;
    max-width: 234px;
    display: block;
    /* margin-bottom: 45px; */
  }

  .footer__heading {
    margin-bottom: 40px;
  }

  .footer__iphones-img {
    position: static;
    max-width: 290px;
    margin-top: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  .footer_padding {
    padding-top: 70px;
  }

  .footer__terms {
    text-align: center !important;
  }

  .footer_background {
    background: url("/img/footer-up-wave-pattern-mobile.png") no-repeat -2% 1%,
      url("/img/footer-down-wave-pattern-mobile.png") no-repeat 100% top,
      #09090b;
  }

  .footer__copyright {
    color: #ffffff;
    margin-bottom: 34px;
    text-align: center !important;
    font-size: 14px;
    margin-top: 1px;
  }

  .terms-footer__terms,
  .terms-footer__terms > a {
    font-size: 16px;
    line-height: 28px;
    margin-bottom: 16px;
    margin-top: 54px;
    text-align: center !important;
    pointer-events: all;
  }

  .terms-of-use_heading {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .term-of-use__paragraph {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .terms-of-use_like-second-heading {
    max-width: 89.34%;
    margin-right: auto;
    margin-left: auto;
  }

  .top-menu__menu-body {
    height: 67px;
  }

  .top-menu__app-slogan_font {
    font-size: 20px;
  }
  ._margin-right-tablet-mobile-10 {
    margin-right: 12px !important;
  }

  ._margin-left-tablet-mobile-10 {
    margin-left: 10px !important;
  }

  .terms__list {
    margin-right: auto;
    margin-left: auto;
    max-width: 300px;
  }

  .terms-page__footer_margin-mobile {
    margin-top: 0 !important;
    margin-bottom: 26px;
  }

  .terms-page-top-menu__menu-body {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .top-menu__logo-wrapper {
    margin-right: auto;
    margin-left: 10px;
  }

  .top-menu__apple-store-wrapper {
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: auto;
  }

  .scan-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('/img/scan-hover.svg') no-repeat center, #5383EC;
  }

  .border-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('/img/border-hover.svg') no-repeat center, #5383EC;
  }

  .sign-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('/img/sign-hover.svg') no-repeat center, #5383EC;
  }

  .turn-text-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .color-perspect-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .share-button {
    pointer-events: none !important;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: url('/img/save-hover.svg') no-repeat center, #5383EC;
    
  }

  .scan-button {
    -webkit-background-size: 34px 34px !important;
    -moz-background-size: 34px !important;
    -o-background-size: 34px !important;
    background-size: 34px !important;
  }

  .border-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .sign-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .turn-text-button {
    -webkit-background-size: 36px 36px;
    -moz-background-size: 36px;
    -o-background-size: 36px;
    background-size: 36px;
  }

  .color-perspect-button {
    -webkit-background-size: 34px 34px;
    -moz-background-size: 34px;
    -o-background-size: 34px;
    background-size: 34px;
  }

  .share-button {
    -webkit-background-size: 32px 32px;
    -moz-background-size: 32px;
    -o-background-size: 32px;
    background-size: 32px;
  }

  .measure-button {
    background: url('/img/measure.svg') no-repeat center, #5383EC;
  }

  /* div {
    pointer-events: none;
    -ms-touch-action: manipulation !important;
    touch-action: manipulation !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
  ._app-store-btn-features > img {
    pointer-events: all;
  }

  ._hide-on-tablet {
    display: none !important;
  }

  .header__app-store-download_width {
    pointer-events: all;
  }
  .testimonials__slider {
    pointer-events: all;
  }

  .footer__app-store-download_width {
    pointer-events: all;
    max-width: 182px;
  }

  .slick-list {
    pointer-events: all;
  }

  .features__action-item-info {
    text-align: left !important;
  }
}
