/*FONTS============================================================*/

@font-face {
  font-family: "SF UI Display";
  src: url("/css/fonts/SFUIDisplay-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/css/fonts/SFUIDisplay-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/css/fonts/SFUIDisplay-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/css/fonts/SFUIDisplay-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SF UI Display";
  src: url("/css/fonts/SFUIDisplay-Heavy.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TeX Gyre Adventor";
  src: url("/css/fonts/TeXGyreAdventor-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

/*=================================================================*/

/*  COMMON STYLES==================================================*/
.transition_disabled {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

._font-weight-600 {
  font-weight: 600;
}
._block-main-heading-style {
  font-family: "SF UI Display";
  font-weight: 800;
  font-size: 44px;
  line-height: 62px;
  color: #09090b;
}

._yellow-text {
  color: #fed32c;
}

._header-footer-heading {
  font-family: "SF UI Display";
  font-weight: 800;
  font-size: 46px;
  line-height: 62px;
  color: #ffffff;
}

._paragraph-main-font {
  font-family: "SF UI Display";
  font-size: 18px;
  line-height: 28px;
}

._app-store-btn {
  padding: 0;
}

._margin-bottom-24 {
  margin-bottom: 24px;
}

._margin-right-5 {
  margin-right: 5px;
}

._margin-right-24 {
  margin-right: 24px;
}

._margin-right-26 {
  margin-right: 26px;
}

._margin-top-17 {
  margin-top: 17px;
}

._margin-top--10 {
  margin-top: -10px;
}

._margin-left-30 {
  margin-left: 30px;
}

._top-bottom-margin-20 {
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}
._image-width {
  width: 115px !important;
  height: 115px !important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

section {
  position: relative;
}

.wrapper {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

._margin-top-70 {
  margin-top: 70px;
}

.intro-dot {
  color: rgba(255, 255, 255, 0.5);
  margin-left: 10px;
  vertical-align: middle;
}

.how-works-dot {
  margin-left: 10px;
  vertical-align: middle;
  color: #fed32c;
}

.futures-dot {
  margin-left: 10px;
  vertical-align: middle;
  color: #5383ec;
}

.testimonials-dot {
  margin-left: 10px;
  vertical-align: middle;
  color: #fed32c;
}

a:hover {
  text-decoration: none;
}

._hide-on-desktop-mobile {
  display: none;
}

/*=================================================================*/
.line-header {
  height: 1000px;
  width: 2px;
  border-left: 2px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  left: 217px;
  top: -50px;
}

.line-header_arrow {
  position: absolute;
  left: 204px;
  top: 245px;
  display: none;
}

.line-how-work {
  height: 648.16px;
  width: 2px;
  border-left: 2px solid rgba(254, 212, 44, 0.3);
  position: absolute;
  left: 217px;
  top: 0;
}

.line-how-work-arrow {
  position: absolute;
  left: 204px;
  top: 275px;
  display: none;
}

.line-futures {
  height: 1152px;
  width: 2px;
  border-left: 2px solid rgba(83, 131, 236, 0.3);
  position: absolute;
  left: 217px;
  top: 0;
}

.line-futures-arrow {
  position: absolute;
  left: 204px;
  top: 427px;
  display: none;
}

.line-testimonials {
  height: 877px;
  width: 2px;
  border-left: 2px solid rgba(254, 212, 44, 0.3);
  position: absolute;
  left: 217px;
  top: 0;
}

.line-testimonials-arrow {
  position: absolute;
  left: 204px;
  top: 170px;
  display: none;
}

.header__app-store-download_width {
  max-width: 222px;
}

.header_background-color-patterns {
  background: url("/img/down-wave-pattern.png") no-repeat,
    url("/img/up-wave-pattern.png") no-repeat left bottom, #09090b;
}

.header_padding {
  padding-bottom: 44px;
  padding-top: 164px;
}

.header__app-slogan_font {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #ffffff;
  margin-left: 20px;
}

.header__slogan-wrapper {
  margin-bottom: 37px;
}

.header__heading {
  margin-bottom: 20px;
  width: 590px;
}

.header__paragraph {
  color: #ffffff;
  margin-bottom: 48px;
}

.header__banner-img_position {
  position: absolute;
  top: -23%;
  left: 10%;
  max-width: 540px !important;
}

/* MENU AFTER SCROLL ================================================================*/
.top-menu {
  background: #f7f9ff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  display: none;
}
.top-menu__menu-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100px;
}

.top-menu__app-slogan_font {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 57px;
  color: #09090b;
}

.top-menu__logo-wrapper {
  margin-top: auto;
  margin-bottom: auto;
}

.top-menu__apple-store-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
}

.top-menu__app-store-download {
  max-width: 138px;
}
/* ================================================================================= */

.how-work_background {
  background-attachment: scroll;
}

.how-work_padding {
  padding-top: 133px;
  padding-bottom: 120px;
}

.how-work__paragraph {
  color: #3f3e41;
  width: 794px;
}

.how-work__scan-info {
  font-weight: 600;
  color: #09090b;
  width: 212px;
}

.how-work__heading {
  margin-bottom: 30px;
}

.how-work__paragraph {
  margin-bottom: 63px;
}

.scan-button:hover {
  content: url("/img/scan-features-blue.png");
  cursor: pointer;
}

.border-button:hover {
  content: url("/img/border-features-blue.png");
  cursor: pointer;
}

.sign-button:hover {
  content: url("/img/sign-features-blue.png");
  cursor: pointer;
}

.turn-text-button:hover {
  content: url("/img/turn-text-features-blue.png");
  cursor: pointer;
}

.color-perspect-button:hover {
  content: url("/img/color-perspect-features-blue.png");
  cursor: pointer;
}

.share-button:hover {
  content: url("/img/share-features-blue.png");
  cursor: pointer;
}

.header__scroll-down {
  margin-top: 154px;
  height: 44px;
}

.header__scroll-down-text {
  font-family: "TeX Gyre Adventor";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #ffffff;
  margin-left: 18px;
}

.how-work__item-scan {
  background-image: url("/img/one-number-bg.png");
  background-repeat: no-repeat;
  height: 183px;
  background-position: 20% 49%;
}

.how-work__item-save {
  background-image: url("/img/two-number-bg.png");
  background-repeat: no-repeat;
  height: 183px;
  background-position: 20% 49%;
}

.how-work__item-upload {
  background-image: url("/img/three-number-bg.png");
  background-repeat: no-repeat;
  height: 183px;
  background-position: 20% 49%;
}

.feature__video-sign {
  position: absolute;
  left: -1.5%;
}

.feature__video-turn-text {
  position: absolute;
  top: -1.5%;
  height: 642px !important;
}

.features_background {
  background: rgba(238, 243, 254, 0.5);
}

.features_padding {
  padding-top: 116px;
  padding-bottom: 121px;
}

.features__heading {
  margin-bottom: 57px;
}

.feature__video-share {
  position: absolute;
}
.features__action-item-heading {
  font-family: "SF UI Display";
  font-weight: 700;
  font-size: 18px;
  line-height: 34px;
  color: #000000;
  margin-bottom: 8px;
  margin-top: 6px;
}

.features__action-item-paragraph {
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  max-width: 285px;
  width: 100%;
  margin-left: auto;
}

.features__action-item-info {
  margin-right: 10px;
}

.features__action-item-first_height-margin {
  margin-top: 60px;
  margin-bottom: 105px;
  height: 13%;
}

.features__action-item-second_margin {
  margin-bottom: 89px;
}

.features__iphone-video-wrapper {
  width: 326px;
  height: 651px;
  overflow: hidden;
  position: relative;
}

.features__iphone {
  /* margin-bottom: 69px; */
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.features__iphone-mask-wrapper {
  width: 326px;
  height: 651px;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

.features__video-wrapper {
  width: 300px;
  height: 620px;
  position: absolute;
  top: 2%;
  left: 5.5%;
  /* background-color: #202020; */
  background: url("/img/photo_screen_iphone.png") no-repeat 28% 50%;
  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.features__video-wrapper > video {
  width: 295px;
  height: 630px;
}

.features__video_border-radius {
  border-radius: 30px;
  -webkit-border-radius: 30px;
}

.features__action-item-img_margin {
  margin-right: 9px;
}

.testimonials_padding {
  padding-top: 118px;
  padding-bottom: 278px;
}
.testimonials__heading {
  margin-bottom: 50px;
}

.testimonials__slider {
  width: 1240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.testimonials__slider-item {
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 20px rgba(128, 125, 125, 0.2);
  box-shadow: 0px 8px 20px rgba(128, 125, 125, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width: 380px !important;
  display: block;
  padding-top: 40px;
  padding-bottom: 63px;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 15px !important;
  margin-right: 15px !important;
  z-index: 100;
  position: relative;
}

.testimonials__slider-item-photo {
  position: absolute;
  top: -12%;
  left: 75%;
  width: 60px;
  z-index: 100;
}

.testimonials__slider-item-heading {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  margin-left: 30px;
  margin-bottom: 14px;
}

.testimonials__slider-item-rate {
  margin-left: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__slider-item-comment {
  width: 320px;
  margin-right: 30px;
  margin-top: 24px;
  margin-left: 30px;
  font-family: "SF UI Display";
  font-size: 18px;
  line-height: 28px;
  color: #3f3e41;
}

.footer_padding {
  padding-top: 108px;
}

.footer_background {
  background: url("/img/footer-up-wave-pattern.png") no-repeat left bottom,
    url("/img/footer-down-wave-pattern.png") no-repeat 100% top, #09090b;
}

.footer__heading {
  margin-bottom: 42px;
}

.footer__iphones-img {
  position: absolute;
  top: -79%;
  max-width: 447px;
}

.footer__terms {
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 201px;
}

.footer__terms:hover {
  color: #ffffff;
}

.footer__copyright {
  color: #ffffff;
  margin-bottom: 20px;
  margin-top: 201px;
}

.footer__app-store-download_width {
  max-width: 234px;
}

.terms-top-menu {
  background: #f7f9ff;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.terms-footer__copyright {
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 26px;
}

.terms-footer__terms,
.terms-footer__terms > a {
  font-family: "SF UI Display";
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 26px;
  margin-top: 199px;
}

.terms-footer__terms > a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.terms-of-use {
  padding-top: 55px;
  padding-bottom: 84px;
}

.terms-of-use_heading {
  color: #09090b;
}

.terms-of-use_like-second-heading {
  font-family: "SF UI Display";
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  color: #09090b;
  margin-top: 48px;
  margin-bottom: 28px;
}

.terms__list {
  list-style-type: disc;
  margin-left: 60px;
}

.terms__footer {
  background-color: #09090b;
}

.terms-page__footer_margin {
  margin-top: 26px !important;
}

/*MEDIA QUERIES FOR VERTICAL LINE==================================*/
@media only screen and (max-width: 1199px) {
  .line-header {
    display: none;
  }

  .line-header_arrow {
    display: none;
  }

  .line-how-work {
    display: none;
  }

  .line-futures {
    display: none;
  }

  .line-testimonials {
    display: none;
  }

  .line-header_arrow {
    display: none !important;
  }

  .line-how-work-arrow {
    display: none !important;
  }

  .line-futures-arrow {
    display: none !important;
  }

  .line-testimonials-arrow {
    display: none !important;
  }
}

@media (min-width: 1200px) and (max-width: 1299px) {
  .container {
    max-width: 1000px !important;
  }

  .line-header {
    left: 20px !important;
  }

  .line-how-work {
    left: 20px !important;
  }

  .line-futures {
    left: 20px !important;
    height: 1180px !important;
  }

  .line-testimonials {
    left: 20px !important;
  }

  .line-header_arrow {
    /* top: 23%; */
    left: 7px !important;
  }

  .line-how-work-arrow {
    left: 7px !important;
    /* top: 42%; */
  }

  .line-futures-arrow {
    left: 7px !important;
    top: 450px;
  }

  .line-testimonials-arrow {
    left: 7px !important;
    /* top: 21%; */
  }

  .testimonials__slider {
    width: 1190px !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .testimonials__slider-item {
    width: 350px !important;
    margin-left: 26px !important;
    margin-right: 5px !important;
  }

  .testimonials__slider-item-comment {
    width: 300px !important;
  }
}

@media (min-width: 1300px) and (max-width: 1500px) {
  .top-menu__menu-body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
  }

  .container {
    max-width: 1070px !important;
  }

  .line-how-work-arrow {
    left: 13px !important;
    /* top: 42%; */
  }

  .line-futures-arrow {
    left: 13px !important;
    top: 450px;
  }

  .line-testimonials-arrow {
    left: 13px !important;
    /* top: 21%; */
  }

  .line-header_arrow {
    /* top: 23%; */
    left: 13px !important;
  }

  .line-header {
    left: 26px !important;
  }

  .line-how-work {
    left: 26px !important;
  }

  .line-futures {
    left: 26px !important;
    height: 1178px !important;
  }

  .line-testimonials {
    left: 26px !important;
  }

  .testimonials__slider-item {
    width: 360px !important;
    margin-left: 22px !important;
  }
}

@media (min-width: 1501px) and (max-width: 1700px) {
 
  .line-how-work-arrow {
    left: 57px !important;
    /* top: 42%; */
  }

  .line-futures-arrow {
    left: 57px !important;
    /* top: 37%; */
  }

  .line-testimonials-arrow {
    left: 57px !important;
    /* top: 21%; */
  }

  .line-header_arrow {
    /* top: 22%; */
    left: 57px !important;
  }

  .line-header {
    left: 70px !important;
  }

  .line-how-work {
    left: 70px !important;
  }

  .line-futures {
    left: 70px !important;
    height: 1155px !important;
  }

  .line-testimonials {
    left: 70px !important;
  }
}

/*=================================================================*/

@-webkit-keyframes show {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@keyframes show {
  0% {
    top: -100px;
  }
  100% {
    top: 0;
  }
}

@-webkit-keyframes hide {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
    /* display: none !important; */
  }
}

@keyframes hide {
  0% {
    top: 0;
  }
  100% {
    top: -100px;
    /* display: none !important; */
  }
}

._appear {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: show 0.8s 1;
  animation: show 0.8s 1;
  /* animation-fill-mode: forwards; */
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  
}

._disappear {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: hide 0.8s 1;
  animation: hide 0.8s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
 
}

@-webkit-keyframes shake {
  0% {
    position: relative;
    top: -17%;
  }
  50% {
    position: relative;
    top: -10%;
  }
  100% {
    position: relative;
    top: -5%;
  }
  50% {
    position: relative;
    top: -10%;
  }
  0% {
    position: relative;
    top: -17%;
  }
}

@keyframes shake {
  0% {
    position: relative;
    top: -17%;
  }
  50% {
    position: relative;
    top: -8%;
  }
  100% {
    position: relative;
    top: 5%;
  }
  50% {
    position: relative;
    top: -8%;
  }
  0% {
    position: relative;
    top: -17%;
  }
}

._shake_scroll {
  position: relative;
  left: 21.4px;
  top: -17%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: shake 0.7s ease-out alternate infinite;
  animation: shake 0.7s ease-out alternate infinite;
}

@-webkit-keyframes show_dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes show_dots {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes hide_dots {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}

@keyframes hide_dots {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none !important;
  }
}

._appear_dots {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: opacity 1s;
  -webkit-animation: show 0.8s 1;
  animation: show_dots 0.8s 1;
  animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  
}

._disappear_dots {
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: opacity 1s;
  -webkit-animation: hide 0.8s 1;
  animation: hide_dots 0.8s 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
 
}